 *{ 
    margin:0; 
    padding:0; 
    } 
	@font-face {
    font-family: Max; /* Гарнитура шрифта */
    src: url(fonts/a_AvanteCpsL.ttf); /* Путь к файлу со шрифтом */
   }
body{
width:99.7%;
margin-left:auto;
margin-right:auto;
margin-top:0;
margin-bottom:0;
font-family:Trebuchet MS;
font-size:16px;
}
img,
embed,
object,
video {
max-width: 100 %;
}
#header{
width:100%;
margin-top:0;
padding-top:10px;
margin-left:auto;
margin-right:auto;
text-align:left;
height:80px;
background:#43cdc0;
border:1px solid white;
}
#headerReg{
width:100%;
margin-top:0;
padding-top:10px;
margin-left:auto;
margin-right:auto;
text-align:left;
height:10px;
background:#43cdc0;
border:1px solid white;
}
#regImg{
margin-top:120px;
margin-left:210px;
height:60px;
width:220px;
}
#rightReg{
float:right;
display:inline;
margin-right:200px;
margin-top:90px;
font-family:max;
}
#rightReg span{
font-size:16px;
color:#df5f4b;
}
#rightReg button{
background:#43cdc0;
 box-shadow:0px 3px 0px #038076;
}
#rightReg input{
height:30px;

}
#regbody{
background:#ecf2f2;
}
#regh1{
color:red;
font-size:55px;
margin-left:180px;
margin-top:0px;
color:#43cdc0;
width:500px;
}
#left{
float:left;
}
#imgblockReg{
margin-left:150px;
margin-top:40px;
width:500px;
}
#imgblockReg img{
margin-right:45px;
height:80px;
width:80px;
}
#imgblockReg p{
color:gray;
font-size:24px;
font-family:max;
margin-left:-70px;
margin-top:30px;

}
#head{
margin-left:11%;
}
/*#enter{
width:450px;
height:319px;
float:left;
background:#f3f3f3;
display:block;

}*/
#main{
width:100%;
margin-left:auto;
margin-right:auto;
text-align:center;
background:#07b9a8;
margin-top:-20px;


}
#main img{
max-width:100%;
}
#main h1{
color:#9e9d9d;
font-size:40px;
}

#footer{
margin:auto;
text-align:center;
clear:both;
font-size:14px;
}
 @media screen and (min-width: 0px) and (max-width: 319px){
 #header,
 #head,
 #but,
 #text,#example,#work,#work-er,#content{
 float:left;
 }
 #example img{
 display:none;
 }
 #example{
 font-size:10px;
 }
 #example h1{
 font-size:20px;
 }
 }
 
 .popup{
display:none;
border-radius:100%;
position:absolute;
background:#8adab5;
border:solid white 4px;
z-index:999;
height:auto;
width:400px;
height:400px;
top:50%;
left:50%;
margin-left:-200px;
margin-top:-200px;

}

.hover{
display:none;
position:absolute;
width:99.7%;
height:1550px;
background:rgba(0,0,0,0.6);
top:0;
left:0;
z-index:998;
cursor:pointer;
}
form {
  font-size:19px;
  margin: 0em 0em 0em 2em;
  width:390px;
  
  
  
}

::-webkit-input-placeholder {
  color:inherit;
 
}

input:focus::-webkit-input-placeholder {
  /*color:transparent;*/
  text-shadow:none;
}

fieldset {
  padding: 1em 0 1em 1em;
  border:none;
  color:gray;
  padding-left:40px;
  padding-top:15px;
  
}

fieldset.main {
  border-bottom: none;
 border: none;

}

fieldset.dop {
  border-top:none;
  border-bottom:none;
}

fieldset.captcha {
  
    border-top:none;
   
}

fieldset.bottom {
 padding: 0.2em 0 0.2em 0em;
}

legend {
 float:left;
}

label, input, .correct {
  

  display:block;
  float:left;
  margin-top:0.7em;
}

label {
   
  clear:left;  
  width:100px;
  border:solid 1px transparent;
  margin-left:-50px;
  
  
}

input {
  text-indent:0.7em;
 font-size:0.8em;
  width:70%;
  height:40px;
  min-width: 14em;
    border:1px solid #dfdddd;
   border-radius:1px;
   
}

.capholder {
  clear:left;
  
  
}
.capholder img {

  width:10em;
  margin-right:0.75em;
  
  vertical-align:middle;
}

input[name=captchacode] {
  
  float:none;
  display:inline-block;
  

}
#ssubmit {  
  text-decoration:none; 
text-align:center; 
 padding:14px 0px; 
 display:block;
 margin-bottom:8px;
 border:none;
 box-shadow:0px 3px 0px #b04b3c;
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 2px; 
 font:23px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#f2ffff; 
 background-color:#df5f4b; 
 padding: -2em 0 1em 1em;
  border-radius:2px;
  display:block;
  font-size:0.9em;
  cursor:pointer;
 
  color:white;
  
   height:45px;
   width: 240px;
 margin-left:93px;
   text-align:center;
}
input::-webkit-input-placeholder { color: #c7c6c6;}
input:-moz-placeholder { color: #c7c6c6; }
#ssubmit:before {
  content:"";

  height:0.85em;
  left:3px;
  right:3px;

  
  border-radius:none;
  
 
}
#ssubmit:active{
background-color:#05a89a;
  box-shadow:0px 2px 0px #038076;
 border:none;
 -webkit-border-radius:3px;
 -moz-border-radius:3px; 
 border-radius: 3px; 
 color:#f2ffff; 
 text-shadow: 0px 0px 2px #bababa; 
 filter: dropshadow(color=#bababa, offx=0, offy=0);}


.correct {
  
  color: black;
  margin-left:0.5em;
  position:relative;
  top: -0.35em;
}


.incorrect {
  
  color:#e01;
  display:block;
  white-space:pre-wrap;
  margin-top:-1.75em;
  margin-left:15em;    
}

.incorrect:before {
  content:"";
  display:block;
 
  height:3em;
  float:left;
  width:50%;
  min-width:8.5em;
 
  
}

#right{
float:auto;
margin-top:19px;
width:100%;
background:#f8f8f8;
height:300px;
display:block;
margin-bottom:-20px;
}
#right img{
width:78px;
height:78px;
}
#images{
float:center;
margin:auto;
width:1100px;


}
#imgblock{
margin-right:15px;
width:260px;
float:left;
margin-top:60px;
display: inline;
}
#imgblock h3{
color:#gray;
font-size:18px;
padding-top:20px;
font-weight:normal;
font-family:Arial;
}
#imgblock span{
font-size:27px;
color:#00ad9d;
font-family:Max;

}
#down{
width:100%;
background:#f2f2f2;
height:250px;
display:block;
padding-top:20px;
border-top:1px solid #e5e6e6;

}

#downleft{
margin-left:60px;
width:500px;
color:black; 
display:inline-block;
text-align:justify;
float:left;

}

#downleft h1{
color:#008a6a;
font-size:45px;
font-weight:normal;

}
#downmiddle{
width:450px;
margin-left:30px;
float:left;
display:inline-block;
text-align:justify;
margin-bottom:32px;
}
#downmiddle h1{
color:#008a6a;
font-size:40px;
font-weight:normal;
padding-bottom:10px;

}
#downright{
float:right;
margin-right:10px;
margin-top:45px;
width:252px;
}

 
#downright a {
text-decoration:none;
 text-align:center; 
 padding:10px 0px; 
 width:227px;
 display:block;
 margin-bottom:12px;
 
 border:none; 
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 2px; 
 font:22px "MS Serif", "New York", serif; 
 font-weight:bold; 
 color:#effcfc; 
 background:#f28064; 
 -webkit-box-shadow:0px 5px 0px #d44444, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 5px 0px #d44444,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 5px 0px #d44444, inset 0px 0px 1px #ffffff;  
  
  }
  #downright a:hover{
 
 border:none; 
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 2px; 
 font:22px "MS Serif", "New York", serif; 
 font-weight:bold; 
 color:#effcfc; 
 background:#f28064; 
 -webkit-box-shadow:0px 5px 3px #d44444, inset 0px 0px 3px #ffffff; 
 -moz-box-shadow: 0px 5px 3px #d44444,  inset 0px 0px 3px #ffffff;  
 box-shadow:0px 5px 3px #d44444, inset 0px 0px 3px #ffffff;  
  
 }
 #downright a:active{

 border:none; 
 -webkit-border-radius:2px;
 -moz-border-radius:2px; 
 border-radius: 2px; 
 font:22px "MS Serif", "New York", serif; 
 font-weight:bold; 
 color:#effcfc; 
 background:#f28064; 
 -webkit-box-shadow:0px 1px 0px #d44444, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 1px 0px #d44444,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 1px 0px #d44444, inset 0px 0px 1px #ffffff;  
  
 }
 
 .popup{
display:none;
border-radius:100%;
position:absolute;
background:#8adab5;
border:solid white 4px;
z-index:999;
height:auto;
width:400px;
height:400px;
top:50%;
left:50%;
margin-left:-200px;
margin-top:-200px;

}

.hover{
display:none;
position:absolute;
width:99.99%;
height:99.99%;
background:rgba(0,0,0,0.6);
top:0;
left:0;
z-index:998;
cursor:pointer;
}
.try{
cursor:pointer;
display:block;
}
#example{
border:1px solid #c6c8c8;
display:block;
width:230px;
height:230px;
margin-left:20px;
float:left;
display: inline;
background:#f7f7f7;
box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
#example img{
border-radius:100%;
border:1px solid green;
width:100px;
height:100px;
max-width:100%;
margin:10px;

}
#example h1{
color:#df5f4b;
float:right;
margin-right:10px;
margin-top:10px;
font-family:Max;

}
#example p{
color:#363737;
float:left;
font-size:14px;
margin-left:5px;
font-family:Max;

}

#exampleE p{
font-family:Max;
font-size:30px;
color:#df5f4b;
padding-top:20px;
padding-left:20px;
}
#doBut{
  text-decoration:none; 
text-align:center; 
 padding:11px 0px; 
 display:block;
 margin-bottom:8px;
 border:none;
 box-shadow:0px 2px 0px #038076;
 -webkit-border-radius:1px;
 -moz-border-radius:1px; 
 border-radius: 1px; 
 font:23px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#f2ffff; 
 background-color:#05a89a; 
 padding: -2em 0 1em 1em;
  border-radius:2px;
  display:block;
  font-size:0.9em;
  cursor:pointer;
 
  color:white;
  
   height:40px;
   width: 100px;
 
   text-align:center;
float:right;
display:block;
margin-right:10px;
margin-top:-70px;
font-family:Max;
}
#example span{
color:#515252;
text-align:center;
font-size:18px;
display:block;
font-family:Sans-Serif;

}
#ent{
float:right;
color:white;
border: 1px solid white;
padding: 6px 12px ;
font-size: 18px;
margin-right:300px;
margin-top:20px;
font-family:Max;
}
#reg{
float:left;
color:white;
border: 1px solid white;
padding: 6px 12px ;
font-size: 18px;
margin-left:250px;
margin-top:20px;
font-family:Max;
}
#exampleE{
border:1px solid #c6c8c8;
display: inline;
float:left;
height:230px;
width:490px;
margin-left:40px;
background:#f7f7f7;
box-shadow: 0 2px 10px rgba(0,0,0,0.3);

}
#choice a{
margin-top:40px;

}
#choice{
margin-left:85px;
margin-top:130px;
}